<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>freeCodeCamp and Coding for Entrepreneurs Try Django Course</title>
</head>
<body>
    <h2>This is Navbar comming from base.html</h2>
    {% block content %}
        Replace me!
        If an error appear, maybe you haven't properly enclosed the extended HTML file
        with block content - enblock...
    {% endblock %}

    {% block another_content %}
    {% endblock %}

    {% block extended_content %}
    {% endblock %}
</body>
</html>